* {
  margin: 0;
  padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    margin: 5px auto;
}
h1, h2, h3, h4, h5, h6 {
    color: #474747;
    font-weight: 400;
}
a {
    margin: 1px;
    color: #2076D8;
    text-decoration: none;
}
a:visited {
    color: #868686;
    text-decoration: none;
}
a:hover, a:focus {
    color: #BC8F5D;
    text-decoration: underline;
}
a img {
    border: none;
}
p {
    text-align: justify;
    margin-bottom: 1.5rem;
}
.bsbb {
    box-sizing: border-box;
}
/*****************************/
/* Header ********************/
/*****************************/
header {
    width: 100%;
    height: 123px;
    position: relative;
}
.barre {
    position: absolute;
    width: 30%;
    margin-left: 70%;
    height: 46px;
    background-image: url("barre.png");
    background-position: left 250px top 0px;
    background-repeat: repeat-x;
}
.headerutil {
    width: 100%;
    background-color: #fff;
    height: 128px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.deco {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 128px;
}
.logos {
    width: 30%;
    max-height: 110px;
    align-self: center;
}
.logosite {
    width: 60%;
    margin: 0 15% 0 15%;
}
.titre {
    width: 37.7%;
    align-self: center;
}
.titre h1 {
    color: #186c7b;
    font-family: "capriola";
    font-size: 3rem;
    text-align: center;
}
.link {
    width: 32.2%;
    position: relative;
}
.decodroite {
    max-height: 77px;
    position: absolute;
    right: 0;
}
.social {
    width: 100%;
    height: 46px;
    background-color: #186c7b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.social img {
    max-height: 24px;
}

/*****************************/
/* Homepage ******************/
/*****************************/
.site-content {
    width: 100%;
    min-height: 60vh;
    position: relative;
    border-top: 10px solid #186c7b;
    background-image: url("bg-homepage.png");
    background-repeat: repeat-x;
    background-position: 0 30px;
    padding-top: 10px;
}

.api {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 50vh;
    border: 2px solid #efe1cc;

}

/*****************************/
/* Footer ********************/
/*****************************/
footer {
    position: relative;
    width: 100%;
    border-top: 10px solid #186c7b;
}
.itemfooter {
    position: relative;
    list-style: none;
    -webkit-padding-start: 0px;
    display: flex;
    flex-direction: row;
    min-height: 15vh;
    max-width: 960px;
    margin: 0 auto;
}
.left, .center, .right {
    font-family: "Source Sans Pro";
    font-size: 1.4rem;
    float: left;
    padding: 10px;
}
.left {
    width: 15%;
}
.center, .right {
    width: 25.4%;
}
.left img {
    max-width: 100px;
}
.center h2 {
    background-color: #69b4c1;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.sousmenubas {
    display: block;
    min-height: 15vh;
    margin-left: 2.5rem;
}
.sousmenubas li {
    list-style-type: none;
    background-image: url(puce.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}
.decofooter {
    width: 32.2%;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: -10;
}
.decoverticale {
    position: absolute;
    background-color: #fef7ee;
    height: 8vh;
    width: 26.55%;
    top: -9vh;
    right: 0;
    z-index: -2;
}
footer .menubas li a, footer .menubas li a:visited, footer ul .menubas a:focus, footer ul .menubas a:hover {
    color: #fff;
    height: 3.6rem;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    min-width: 100px;
    text-align: center;
}
footer ul li a:hover,
footer ul li a:focus {
    background-color: #ddcab4;
    text-decoration:none;
    color: #186c7b;
    font-weight: bold;
}

/*****************************/
/* Responsive ****************/
/*****************************/
@media (max-width: 1271px) {
    .deco {
        display: none;
    }
}
@media (max-width: 905px) {
    .decodroite {
        display: none;
    }
}
@media (max-width: 750px) {
    .decofooter {
        display: none;
    }
    .left, .center, .right {
        width: 33.3%;
    }
}
@media (max-width: 618px) {
    .site-content {
        align-content: flex-start;
        bottom: 0;
        justify-content: center;
        left: 0;
        padding-top: 2rem;
        right: 0;
        top: 0;
    }
    .header {
        position: static;
    }
    .titre, .logos {
        margin-top: 25px;
    }
}
