*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
h3 {
    font-size: 2.6rem;
    color: #ff8642;
}
body {
    margin: 0;
    font-family: 'Quicksand:400,500', sans-serif;
    font-size: 1.6rem!important;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container-fluid, .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

a {
    color: #337ab7;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}
